<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <dianogaOptimize>
        <processor type="Dianoga.Processors.Pipelines.DianogaOptimize.ExtensionBasedOptimizer, Dianoga" desc="jpeg">
          <Pipeline>
            <patch:delete />
          </Pipeline>
           <Pipeline>dianogaOptimizeImageMagickJpeg</Pipeline>
        </processor>
        <processor type="Dianoga.Processors.Pipelines.DianogaOptimize.ExtensionBasedOptimizer, Dianoga" desc="png">
          <Pipeline>
            <patch:delete />
          </Pipeline>
          <Pipeline>dianogaOptimizeImageMagickPng</Pipeline>
        </processor>
      </dianogaOptimize>

      <dianogaOptimizeImageMagickJpeg>
        <processor type="Dianoga.ImageMagick.ImageMagickResizer, Dianoga.ImageMagick">
          <ExePath>/App_Data/Dianoga Tools/imagemagick/magick.exe</ExePath>
          <AdditionalImageMagick>-quality 70 -dither None -define jpeg:fancy-upsampling=off -interlace none -colorspace sRGB</AdditionalImageMagick>
        </processor>
        
        <!-- After ImageMagick resizing, run original Dianoga processor to reduce size -->
        <processor type="Dianoga.Optimizers.Pipelines.DianogaJpeg.MozJpegOptimizer, Dianoga">
          <ExePath>/App_Data/Dianoga Tools/mozjpeg_3.1_x86/jpegtran.exe</ExePath>
          <AdditionalToolArguments>-progressive</AdditionalToolArguments>
        </processor>
      </dianogaOptimizeImageMagickJpeg>

      <dianogaOptimizeImageMagickPng>
        <processor type="Dianoga.ImageMagick.ImageMagickResizer, Dianoga.ImageMagick">
          <ExePath>/App_Data/Dianoga Tools/imagemagick/magick.exe</ExePath>
          <AdditionalImageMagick>-define png:compression-filter=5 -define png:compression-level=9 -define png:compression-strategy=1</AdditionalImageMagick>
        </processor>

        <!-- After ImageMagick resizing, run original Dianoga processor to reduce size -->
        <processor type="Dianoga.Optimizers.Pipelines.DianogaPng.PngOptimizer, Dianoga">
          <ExePath>/App_Data/Dianoga Tools/PNGOptimizer/PNGOptimizerCL.exe</ExePath>
          <AdditionalToolArguments></AdditionalToolArguments>
        </processor>
      </dianogaOptimizeImageMagickPng>
    </pipelines>

    <settings>
      <!-- 
        Leave this at 100% to allow ImageMagick to reduce quality of JPEG images 
        This setting will not affect final PNG size
           -->
      <setting name="Media.Resizing.Quality">
        <patch:attribute name="value">100</patch:attribute>
      </setting>
      <!-- 
      Recommended resize limits. Update these based on what makes sense for your site
      Images will not excced these limits once cached in ~\App_Data\MediaCache
      -->
      <setting name="Media.Resizing.MaxWidth">
        <patch:attribute name="value">1920</patch:attribute>
      </setting>
      <setting name="Media.Resizing.MaxHeight">
        <patch:attribute name="value">1080</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>