<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <dianogaOptimize>
        <processor type="Dianoga.Processors.Pipelines.DianogaOptimize.ExtensionBasedOptimizer, Dianoga" desc="jpeg">
          <Pipeline>
            <patch:delete />
          </Pipeline>
           <Pipeline>dianogaOptimizeImageMagickJpeg</Pipeline>
        </processor>
      </dianogaOptimize>

      <dianogaOptimizeImageMagickJpeg>
        <processor type="Dianoga.ImageMagick.ImageMagickJpegOptimizer, Dianoga.ImageMagick">
          <ExePath>/App_Data/Dianoga Tools/imagemagick/magick.exe</ExePath>
          <AdditionalToolArguments></AdditionalToolArguments>
        </processor>
      </dianogaOptimizeImageMagickJpeg>
    </pipelines>

    <settings>
      <!-- 
				The default resizing quality for JPEGs is extremely high (95) which wastes bandwidth.
				Community recommendations place the optimal JPEG quality/size ratio between 70 and 80.
			-->
      <setting name="Media.Resizing.Quality">
        <patch:attribute name="value">70</patch:attribute>
      </setting>
      <setting name="Media.Resizing.MaxWidth">
        <patch:attribute name="value">2000</patch:attribute>
      </setting>
      <setting name="Media.Resizing.MaxHeight">
        <patch:attribute name="value">1000</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>