<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <dianogaOptimize>
        <processor type="Dianoga.Processors.Pipelines.DianogaOptimize.ExtensionBasedOptimizer, Dianoga" desc="jpeg">
          <Pipeline>
            <patch:delete />
          </Pipeline>
           <Pipeline>dianogaOptimizeImageMagickJpeg</Pipeline>
        </processor>
      </dianogaOptimize>

      <dianogaOptimizeImageMagickJpeg>
        <processor type="Dianoga.ImageMagick.ImageMagickJpegOptimizer, Dianoga.ImageMagick">
          <ExePath>/App_Data/Dianoga Tools/imagemagick/magick.exe</ExePath>
          <AdditionalImageMagick>-dither None -gaussian-blur 0.05 -define jpeg:fancy-upsampling=off -interlace none -colorspace sRGB</AdditionalImageMagick>
        </processor>
        
        <!-- After ImageMagick resizing, run original Dianoga processor to reduce size -->
        <processor type="Dianoga.Optimizers.Pipelines.DianogaJpeg.MozJpegOptimizer, Dianoga">
          <ExePath>/App_Data/Dianoga Tools/mozjpeg_3.1_x86/jpegtran.exe</ExePath>
          <AdditionalToolArguments>-progressive</AdditionalToolArguments>
        </processor>
      </dianogaOptimizeImageMagickJpeg>
    </pipelines>

    <settings>
      <!-- 
      Recommended resize limits. Update these based on what makes sense for your site
      Images will not excced these limits once cached in ~\App_Data\MediaCache
      -->
      <setting name="Media.Resizing.MaxWidth">
        <patch:attribute name="value">2000</patch:attribute>
      </setting>
      <setting name="Media.Resizing.MaxHeight">
        <patch:attribute name="value">1000</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>